body{
  background-image: url('assets/pattern.png');
}


#drapeau {
    width: 90%;
    height: 700px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    display: flex;
    margin-bottom: 100px;
}

.vertical_3 {
    height: 100%;
    width: 35%;
    transition: transform 250ms;
    color: grey;
    box-shadow: 5px 5px 10px black;
}

.horizontal_3 {
    height: 35%;
    width: 100%;
    transition: transform 250ms;
    color: grey;
    box-shadow: 5px 5px 10px black;
}

.horizontal_2 {
    height: 50%;
    width: 100%;
    transition: transform 250ms;
    color: grey;
    box-shadow: 5px 5px 10px black;
}

.horizontal_2,
.horizontal_3,
.vertical_3:hover {
    transform: translateY(-10px);
}

.triangle_center {
    transition: transform 250ms;
    color: grey;
    box-shadow: 5px 5px 10px black;
    clip-path: polygon(0 0, 0% 100%, 35% 50%);
    grid-column: 1/13;
    grid-row: 1/16;
}

.triangle_center:hover {
    transform: translateX(-10px);
}

.triangle_l {
    transition: transform 250ms;
    color: grey;
    box-shadow: 5px 5px 10px black;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 35% 50%);
    grid-column: 1/18;
    grid-row: 1/10;
}

.triangle_l:hover {
    transform: translateY(-10px);
}

.triangle_r {
    transition: transform 250ms;
    color: grey;
    box-shadow: 5px 5px 10px black;
    clip-path: polygon(0 100%, 100% 100%, 100% 50%, 35% 50%);
    grid-column: 1/18;
    grid-row: 1/16;
}

.triangle_r:hover {
    transform: translateY(10px);
}

#div-pays {
  margin: 0 auto -10% auto;
  border: 5px solid black;
  border-radius: 15%;
  width: 40%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #E6C24A;
  position: relative;
  bottom: 40px;
}

#pays {
    margin: 0 auto;
    text-align: center;
    font-size: 75px;
}

#cadre {
  margin: 10% auto;
  border: 10px solid white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("assets/fondjeu.png");
  background-size: cover;
  background-position: center;
  border: 10px solid black;
  border-radius: 30px;
}

#div-button {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

#div-button button {
    font-size: 80px;
    border: 0px;
    border-radius: 50px;
    font-size: 3em;
    padding: 20px;
}


/* CADRANT INFO */

#info {
  margin: 10% auto;
  border: 10px solid black;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  color: white;
  background-image: url("assets/fondjeu.png");
}

.styleInfo {
    text-align: center;
    font-size: 2em;
}
.sousTitre{
  font-family: impact, serif;
}

/*  POP UP START  */

#menuStart {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  left: 0;
  background-image: url('assets/fond_start.gif');
  background-size: cover;
  background-position: center;
  top: 0;
  margin: auto;
}

#ready {
    font-size: 7em;
    font-family: Courier New, monospace;
    color: white;
    opacity: 0.9;
}

#boutonStart {
  font-size: 5em;
  border: 0px;
  border-radius: 60px;
  padding: 50px;
  margin-top:-13%;
}


/*  POP UP FINAL  */

#menuFin {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 13;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(19, 59, 46, 0.90);
  background-position:center;
  background-attachment:fixed;
    /* background-image: url("start.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; */
}

#result_final {
    color: white;
    font-size: 1.3em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


#result_pop {
    color: white;
    font-size: 1.3em;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.stylePopUpFin {
  text-align: center;
  font-size: 3em;
  width: 100%;
  padding: 20px;
  font-family: sans-serif;
}

#score {
  font-size: 8em;
  padding: 30px;
  font-family: impact;
  color: white;
}

#boutonRestart {
    font-size: 8em;
    font-family: impact;
    border: 0;
    border-radius: 50px;
    margin-bottom: auto;
}
#nbrPts{
  font-size: 2em;
  color: #f4cc27;
}

/* POP UP INTERMEDIAIRE DE SCORE */

#affichageScore {
  width: 60%;
  height: 500px;
  left: 10%;
  right: 10%;
  text-align: center;
  padding: 10%;
  position : absolute;
  opacity: 100%;
  z-index: 9;
  display: flex;
  justify-content: space-around;
  background-image: url("assets/fond_popUp.gif");
  background-size: cover;
  background-position: center;
  visibility: hidden;
  margin: 20% auto;
}

.stylePopUpScore {
  width: 100%;
  font-size: 2em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-family: monospace;
  font-size: 3em;
}

#zoneGrise {
  width: 80%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity:50%;
  text-align: center;
  padding: 10%;
  position : absolute;
  z-index: 8;
    visibility: hidden;
}

#abandon_pop {

    text-align: center;
    font-size: 4em;
    color: white;
    width: 100%;
}



/* REGLES */
#bouttonRegles{

  margin-left:-13%;
  margin-left : auto;
  margin-right: auto;
  background-color: white;
  font-size: 4em;
  padding: 10%;
  border-radius: 66px;
}

/* BULLE D'AIDE */
.bubble-text{
background:#7DB0CF;
color:#fff;
padding:7px 15px;
border-radius:3px;
width:500px;
margin : auto;
font-size: 2.5em;
position: absolute;
z-index: 15;
top: 20%;

}

.bubble-text::after{
content:"";
border-left:150px solid transparent;
border-right:100px solid transparent;
border-top: 40px solid #7DB0CF;
position: absolute;

}
